*{
	font-family: 'Roboto', sans-serif;
}
	html{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	background-size: 1024px 768px;
}
.galilei-logo{
	height: 20px;
	width: 34px;
	position: absolute;
	order: 1;
	top: 70px;
	left: -10px;
	background-color: #fff;
	border-left: 100px solid #fff;
	border-bottom: 20px solid #fff;
	border-top: 20px solid #fff;
	border-right: 10px solid #fff;
	box-shadow: 0px 0px 7px 7px #eee;
}
.form{
	position: absolute;
	top: 10%;
	left: 35%;
}
@media only screen and (max-width:500px) {
html{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	background-size: 1024px 768px;
}
.galilei-logo{
	height: 20px;
	width: 34px;
	position: absolute;
	order: 1;
	top: 70px;
	left: -10px;
	background-color: #fff;
	border-left: 100px solid #fff;
	border-bottom: 20px solid #fff;
	border-top: 20px solid #fff;
	border-right: 10px solid #fff;
	box-shadow: 0px 0px 7px 7px #eee;
}
.form{
	position: absolute;
	top: 10%;
	left: 30%;
}
}
