@media  (min-width:1024px){
*{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}
.galilei-logo{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 20px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 20px 20px #e3e3e3;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
}
.form{
	position: absolute;
	top: 10%;
	left: 30%;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
*{
	background-color: #fff;
}
.galilei-logo{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 20px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 20px 20px #e3e3e3;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
}
.form{
	position: absolute;
	top: 30%;
	left: 0%;
}
}
@media (max-width:767px) {
*{
	background-color: #fff;
}
.galilei-logo{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 20px;
	width: 200%;
	background-color: #fff;
	box-shadow: 0px 0px 20px 20px #e3e3e3;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
}
.form{
	position: absolute;
	top: 30%;
	left: 0%;
}
}
